@font-face {
    font-family: "Inconsolata";
    src: url(/fonts/Inconsolata-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Allerta";
    src: url(/fonts/AllertaStencil-Regular.ttf);
}

* {
box-sizing: border-box;
}

body
{
    margin: 0;
    font-family: "Inconsolata";
}

img
{
    display: block;
    width: 100%;
}

.product__img
{
  filter: grayscale(1);
}

.product__img:hover
{
  filter: grayscale(0);
  transition: all 2s;
}

.editor__img
{
  filter:grayscale(1);
}

.editor__img:hover
{
  filter:grayscale(0);
}

.main-header
{
    padding: 0 10px;
}


.main-header__title
{
    position: absolute;
    right: 62%;
    font-size: 1.5em;
    margin: 20px 0px;
    color: #2A7AE4;
    font-family: "Allerta";
}

.main-header__title span
{
  color: #454546;
}

.main-header__container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.main-header__link
{
    color: #333;
}

/* ----------------------Estilos del Menu ---------------------*/
  
.button__login
{
    left: 123%;
    top: 4%;
    border-color: #2A7AE4;
    color: #2A7AE4;
    border-radius: 10%;
    padding: 8px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 1s;

    
}

.button__login:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(201, 198, 198);
}

/*---------Aca inicia la caja de busqueda-----*/

.input__search input[type=text] 
{

 
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 100px;
  font-size: 16px;
  background-color: #F7F7F7;
  padding: 12px 20px 12px 40px;
}


/*---------Aca termina la caja de busqueda-----*/
  .icon-menu{
    
    width: 12%;
    display: block;
    padding: 10px 10px;
    margin: 0 0 0;
  }
  .main-header__btn{
    display: block;
    padding: 10px 30px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
  }
  .main-header__input{
    display: block;
    padding: 10px;
    width: 50%;
  }
  
  .main {
    padding: 0 20px;
  }
  
  /* ESTILOS DE SLIDER */
  .container-slider{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    width: 400%;
    height: 300px;
    margin-left: -100%;
    position: relative;
  }
  .slider:before{
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100%;
  }
  
  .slider__section {
    width: 100%;
    position: relative;
  }
  .slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
  }
  .slider__btn:hover { 
    background: #fff;
  }
  .slider__btn--left{
    left: 10px;
  }
  .slider__btn--right {
    right: 10px;
  }
  .slider__content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
  }
  .slider__title{
    font-size: 2.2em;
    margin: 0;
  }
  .slider__txt{
    margin: 5px 0;
  }
  .btn-shop{
    display: block;
    border: 2px solid #2A7AE4;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
    transition: all 0.5s;
  }
  .btn-shop:hover{
    background: #2A7AE4;
    color: white;
  }
  /* -----------------------ESTILOS DE PRODUCTOS ---------------*/

.Ver__todo
{
 position: static;
 justify-content: space-around;
  left: 48%;
  text-decoration: none;
  font-size: .8em;
  color: #2A7AE4;
  
}

.arrow__btn
{
  position: static;
  font-size: .5em;
  color: #2A7AE4;
}

  .container-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  .product:before {
    content: "New";
    background: #2A7AE4;
    padding: 10px;
    width: 60px;
    position: absolute;
    top: 20px;
    right: 10px;
    transform: rotate(-90deg);
    color: white;
  }
  
  .product__img{
    width: 100%;
    height: 120px;
    object-fit: cover;
  }
  .product__title{
    text-align: center;
  }
  .product__price {
    color: #FF4E00;
    font-weight: bold;
  }

  .Product__text
  {
    color: #2A7AE4;
    font-weight: bold;
    text-decoration: none;
  }

  .product__icon {
    display: block;
    margin-top: 10px;
  }
  .product:hover .product__icon {
    color: #FF4E00;
  }
  /*-----------------Aca inicia el footer-------------*/
  .main-footer{
    background: #151515;
    color: white;
    padding: 50px 20px;
    margin: 20px 0;
  }
  .footer__title{
    border-bottom: 1px dotted #555;
    padding-bottom: 10px;
  }
  .footer__txt {
    color: #555;
  }
  .footer__link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  
  .footer__input{
    background: #151515;
    width: 100%;
    display: block;
    padding: 20px;
    border: 1px solid #555;
  }

  .footer__second
  {
    text-align: center;
  }

  .button
{
    left: 70%;
    top: 4%;
    border-color: #2A7AE4;
    color: #2A7AE4;
    border-radius: 10%;
    padding: 8px 52px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 1s; 
}

.button:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(201, 198, 198);
}

  .copy {
    color: #555;
    text-align: center;
  }

  
  
  /*Estilos para tablet*/
  @media screen and (min-width:768px) {
    .slider{
      height: 400px;
    }
    .editor__item{
      height: 150px;
    }
    .container-tips{
      margin: 50px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .icon-menu
    {
      position: relative;
      width: 7%;
      left: 5%;
    }

    .main-header__title
    {
      left: 13%;
    }

    .icon__menu
    {
      position: relative;
      right: 30%;
    }


    .button__login
    {
      position: relative;
      right: 2%;
    }

    .container-products
    {
      padding-bottom: 2%;
    }

    .main-footer
    {
      padding: 1px 2px;
    }

    .footer__input
    {
      width: 100%;
    }

  }

  /*Estilos para web*/
  
  @media screen and (min-width:1024px) { 
    
    .icon--menu {
      display: block;
    }
    .main-header .container--flex{
      display: grid;
      align-items: center;
    }
   
    .main-header__title {
      width: 100%;
      font-size: 2em;
      margin: 0;  
    }
    
    .container-products {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
    }
    .product__img {
      height: 150px;
    }
      
    .main-footer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
    .copy {
      grid-column-start: span 4;
      text-align: center;
    }

  }
  
  @media screen and (min-width:1280px) { 
   
    .slider{
      height: 500px;
      font-size: 1.5em;
    }

    .img__menu
    {
      width: 60%;
    }

    .main-header__title
    {
      left: 10%;
    }

   
  }
  
  @media screen and (min-width:1600px) { 
    .container{
      width: 1500px;
    }
    .main-header__container:nth-child(3){
      padding-left: 150px;
    }
    .main-header__container:nth-child(2){
      font-size: 1.5em;
    }
    .slider{
      height: 600px;
    }
    .product__img {
      height: 200px;
    }
  }
  
  